body {
    margin: 0;
    padding: 0;
}

.alarm {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom right, #330f0f, #d71515);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
}

.alarm-rings {
    position: absolute;
    top: 44%;
    left: 52%;
    width: 50px;
    height: 50px;
    background-image: radial-gradient(circle, rgba(255, 0, 0, 0.6), rgba(255, 0, 0, 0));
    border-radius: 50%;
    transform: translate(-50%, -50%);
    /* Centrowanie */
    animation: expand 2s infinite 0.4s infinite;
    /* Animacja rozszerzania */
}

.alarm-rings:nth-child(1) {
    width: 50px;
    height: 50px;
    animation-delay: 0s;
    background-color: #d78915;
}

.alarm-rings:nth-child(2) {
    width: 75px;
    height: 75px;
    animation-delay: 0.2s;
    background-color: #f11313;
}

.alarm-rings:nth-child(3) {
    width: 100px;
    height: 100px;
    animation-delay: 0.4s;
    background-color: #d79315;
}

.alarm-rings:nth-child(4) {
    width: 150px;
    height: 150px;
    animation-delay: 0.6s;
    background-color: #d7ba15;
}

.alarm-rings:nth-child(5) {
    width: 200px;
    height: 200px;
    animation-delay: 0.8s;
    background-color: #e4c724;
}

@keyframes expand {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }

    25% {
        transform: translate(-50%, -50%) scale(1.5);
        opacity: 1;
    }

    50% {
        transform: translate(-50%, -50%) scale(2);
        opacity: 0;
    }

    75% {
        transform: translate(-50%, -50%) scale(1.5);
        opacity: 0;
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}

.alarm-icon {
    position: absolute;
    top: 40%;
    left: 33%;
}

.alarm p {
    margin-top: 1.5rem;
    padding: 6px;
    font-size: 30px;
    font-weight: 700;
    color: var(--color-text);
}

.alarm-btn {
    position: absolute;
    bottom: 3.2rem;
}

.alarm-btn .btn {
    padding: 8px 16px;
    font-size: 24px;
    color: var(--color-text);
    border: 1px solid var(--btn-text);
    box-shadow: 3px 3px 8px var(--box-shadow)
}