body {
    margin: 0;
    padding: 0;

}



.text {
    width: 100vw;
    height: 100vh;
    background-color: var(--color-app);
    background-image: radial-gradient(circle, #062721, #1c5c51);
    /* background-color: #1a4b43; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.text-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 0;
}

.text-nav p {
    font-size: 2rem;
    text-align: center;
    flex-grow: 1;
    margin-right: 3rem;
}

.text-nav img {
    margin-left: 1.3rem;
    width: 45px;
    aspect-ratio: 1;
}


.text-timer {
    margin: 1rem;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    flex-grow: 1;

}

.text-timer p {
    font-size: 30px;
    font-weight: 600;
}

.text-btn {
    position: absolute;
    bottom: 3.2rem;
}

.text-btn .btn {
    padding: 8px 16px;
    font-size: 14px;
    color: var(--color-text);
    border: 1px solid var(--btn-text);
    box-shadow: 3px 3px 8px var(--box-shadow)
}