* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-app: #0b0b4d;
    --color-text: #e0dddd;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.4px;
}